<h2><%= @restaurant.name %></h2>
<p>Direccion: <%= @restaurant.address %></p>

<%= link_to("Reviews del Restaurant", restaurant_reviews_path(@restaurant)) %>
<br>
<%= link_to("Editar Restaurant", edit_restaurant_path) %>
<br>
<%= link_to "Borrar Restaurant",
  restaurant_path(@restaurant),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<br>
<%= link_to("Volver a los Restaurants", restaurants_path) %>
